
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/Inter')format('ttf');
    font-weight: '400', '700';
    font-style: 'normal', 'bold';
  }
}