
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/Inter')format('truetype');
    font-weight: '400', '700';
    font-style: 'normal', 'bold';
  }
}